@import './variable.scss';

ul[data-cls='pages']{
    margin-top:30px;
    text-align: center;
    li{
        display: inline-block;
        height:30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid $blue;   
        margin:0 5px;
        &:hover a,:global(.active){
            background: $blue;
            color: #fff;
        
        }
        a{
            display: block;
            color: $black;
            width:30px;
            &[data-cls='pageBtn']{
                width:60px;
            }     
        }
        input{
            border: none;
            width:40px;
            text-align: center;
            font-size: 14px;
        }
        
    }

}